// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.command {
    color: #fff;
    font-size: 1px;
}
.comdelete {
    color: #787373;
    font-size: 1px;
}
#post_body {
    line-height: 50px;
}
#commentuser {
    font-weight: bold;
    
}
.panel-default {
    margin-top: 10px;
}
#submit {
    border-radius: 10px; 
}
#submit:hover {
    opacity: 0.6;
    background-color: tomato;

}
.panel-default button {
    cursor: pointer;
    text-decoration: none;
}

.list-group-item h3 {
    padding: 0px;
}
.list-group-item p {
    margin-bottom: 0px;
}
#close {
    cursor: pointer;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin: 15px auto 0;
  }
  #close:hover{
    background: skyblue;  
  }  
  #mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  #modal {
    background: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 4px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .8s;
    z-index: 2;
    text-align: center;
  }
  
  #modal p {
    line-height: 1.5;
    margin: 0 0 20px;
  }
  
  #mask.hidden {
    display: none;
  }
  
  #modal.hidden {
    transform: translate(0, -500px);
  }